body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(160deg,
      rgba(23, 23, 23, 1) 70%,
      rgba(65, 3, 3, 1) 100%);

}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}